<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>관리자 승인리스트 상세페이지</title>
</head>

<main layout:fragment="main">
    <div class="p-10 card bg-base-200">
        <div class="form-control">
            <div class="card card-side bordered bg-white">
                <div class="card-body text-sm">
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">가입 날짜</div>
                        <p class="pl-2">[[${member.regDate}]]</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">[[${member.extra__roleName}]] 신청 날짜</div>
                        <p class="pl-2">[[${member.extra__regDate}]]</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">이름</div>
                        <p class="pl-2">[[${member.name}]]</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">전화번호</div>
                        <p class="pl-2">[[${member.cellphoneNo}]]</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">이메일</div>
                        <p class="pl-2">[[${member.email}]]</p>
                    </div>
                    <div th:if="${member.extra__thumbnailImgUrl != null}">
                        <img class="w-full" th:src="${member.extra__thumbnailImgUrl}" alt="" />
                    </div>
                    <div>
                        <form action="./doApproval" method="POST">

                            <input type="hidden" name="memberId" th:value="${member.id}">
                            <input type="hidden" name="roleLevel" th:value="${param.roleLevel}">

                            <label class="btn btn-ghost">
                                <input type="radio" id="approval" name="authenticationLevel" value="1">
                                <span>승인</span>
                            </label>
                            <label class="btn btn-ghost">
                                <input type="radio" id="hold" name="authenticationLevel" value="2">
                                <span>보류</span>
                            </label>
                            <input type="submit" value="선택완료" class="btn btn-ghost">
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="card card-side bordered bg-white">
                <div class="card-body text-sm">
                    <div class="overflow-x-auto">
                        <table class="table w-full table-zebra">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>이름</th>
                                <th>승인 여부</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="memberByRoleLevel : ${members}">
                                <th>[[${memberByRoleLevel.id}]]</th>
                                <td>
                                    <a class="hover:underline" th:href="@{./detail(memberId=${memberByRoleLevel.id}, roleLevel=${memberByRoleLevel.roleLevel})}">
                                        [[${memberByRoleLevel.name}]]
                                    </a>
                                </td>
                                <td th:if="${memberByRoleLevel.extra__authenticationLevel == 0}">미승인</td>
                                <td th:if="${memberByRoleLevel.extra__authenticationLevel == 1}">승인</td>
                                <td th:if="${memberByRoleLevel.extra__authenticationLevel == 2}">보류</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</html>