<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>관리자 메인페이지</title>
</head>

<main layout:fragment="main">
    <div class="director-request-box">
        <th:block th:each="memberByAuthenticationStatus : ${membersByAuthenticationStatus}">
            <form action="./doApproval" method="POST">
                <input type="hidden" name="memberId" th:value="${memberByAuthenticationStatus.id}">
                <span>가입 날짜 : [[${memberByAuthenticationStatus.regDate}]]</span><br>
                <span>장례지도사 신청 날짜 : [[${memberByAuthenticationStatus.extra__regDate}]]</span><br>
                <span>이름 : [[${memberByAuthenticationStatus.name}]]</span><br>
                <span>전화번호 : [[${memberByAuthenticationStatus.cellphoneNo}]]</span><br>
                <span>이메일 : [[${memberByAuthenticationStatus.email}]]</span><br>
                <div>
                    <input type="radio" id="approval" name="authenticationStatus" value="1" checked>
                    <label for="approval">승인</label>
                    <input type="radio" id="hold" name="authenticationStatus" value="2">
                    <label for="hold">보류</label>
                </div>
                <input type="submit" value="확인">
                <hr>
            </form>
        </th:block>
    </div>
</main>

</html>