<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>메인</title>
<!--  로그아웃을 Ajax로 실행하기 위한 의존성  -->
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/logout.js" charset="utf-8" defer></script>
    </th:block>
</head>

<main layout:fragment="main">
    <a href="../../adm/home/main?authenticationLevel=0&roleLevel=3">관리자 메인페이지</a>
    <br>
    <br>
    <a href="../member/login">로그인</a>
    <br>
    <br>
<!--  아래 로그아웃 함수는 button(this)를 받아야 함수가 실행됨  -->
    <button onclick="MemberLogout__submit(this); return false;">로그아웃</button>

    <br>
    <br>
    <a href="../member/join">회원가입</a>
    <br>
    <br>
    <a href="../director/request">장례지도사 등록</a>
    <br>
    <br>
    <a href="../vendor/explain">물품 공급업체 등록(등록된 상태면, 설명 페이지 다시보기로 워딩 바뀌도록)</a>
    <br>
    <br>
    <a href="../member/info">내 정보</a>
    <br>
    <br>
    <a href="../home/call">장례지도사 출동 요청</a>
    <br>
    <br>
</main>

</html>