<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>출동 확인</title>
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/director/dispatch.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <form onsubmit="Dispatch__submit(this); return false;">
    <div class="p-10 card bg-base-200">
        <div class="card card-side bordered bg-white">
            <div class="card-body text-sm">
                <input type="hidden" name="clientId" th:value="${client.id}">

                <h2 class="card-title">故 [[${client.deceasedName}]]님의 장례</h2>

                <div class="flex items-center mb-1">
                    <div class="badge badge-md">상주 성함</div>
                    <p class="pl-2">[[${chief.name}]]</p>
                </div>
                <div class="flex items-center mb-1">
                    <div class="badge badge-md">지역</div>
                    <p class="pl-2">[[${client.location}]]</p>
                </div>
                <div class="flex items-center mb-1">
                    <div class="badge badge-md">상세 주소</div>
                    <p class="pl-2">[[${client.briefAddress}]]</p>
                </div>
            </div>
        </div>
        <br>
        <input class="btn btn-ghost" type="submit" value="출동하기">
    </div>
    </form>
</main>

</html>