<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>고인과 장례 관련 정보 입력 및 수정</title>
</head>
<main layout:fragment="main">
    <form action="./doJoin" method="POST" onsubmit="MemberJoin__submit(this); return false;">
        <div class="p-10 card bg-base-200">
            <div class="card card-side bordered bg-white">
                <div class="card-body text-sm border border-base-300">
                    <span class="w-1/2 text-center font-bold text-2xl">고인</span>
                    <br>
                    <br>

                    <label class="label">
                        <span class="label-text">
                            고인 성함
                        </span>
                    </label>
                    <input th:value="${client?.deceasedName}" type="text" id="deceasedName" name="deceasedName" maxlength="20" placeholder="고인 성함을 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                    <br>
                    <br>
                    <label class="label">
                        <span class="label-text">
                            장례식장
                        </span>
                    </label>
                    <input type="text" id="funeralHall" name="funeralHall" maxlength="20" placeholder="장례식장명을 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                    <label class="label">
                        <span class="label-text">
                            호실
                        </span>
                    </label>
                    <input type="text" id="funeralHallRoom" name="funeralHallRoom" maxlength="20" placeholder="장례식장 호실을 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                    <br>
                    <br>





                    <label class="label">
                        <span class="label-text">
                            근무하시는 지역
                        </span>
                    </label>
                    <select id="location" name="location" class="select select-bordered select-sm w-full max-w-xs">
                        <option value="" disabled selected>지역 선택</option>
                        <div th:each="department : ${departments}" th:object="${department}">
                            <option th:value="*{departmentName}" th:text="*{departmentName}"></option>
                        </div>
                    </select>
                </div>
            </div>

            <br>

            <div class="card-body text-sm border border-base-300">
                <span class="w-1/2 text-center font-bold text-2xl">상주</span>
                <br>
                <br>
                <label class="label">
                        <span class="label-text">
                            상주 성함
                        </span>
                </label>
                <input th:value="${chief?.name}" type="text" id="chiefName" name="chiefName" maxlength="20" placeholder="상주 성함을 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                <label class="label">
                        <span class="label-text">
                            핸드폰 번호
                        </span>
                </label>
                <input th:value="${chief?.cellphoneNo}" type="text" id="chiefCellphoneNo" name="chiefCellphoneNo" maxlength="11" placeholder="핸드폰 번호를 입력해주세요." autocomplete="off" class="input input-bordered my-2"/>

            </div>

            <br>
            <br>

            <button id="modify-submit" class="btn btn-ghost">입력 완료</button>
        </div>
    </form>
</main>

</html>