<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>고인과 장례 관련 정보 입력 및 수정</title>
</head>
<main layout:fragment="main">
    <form action="./doJoin" method="POST" onsubmit="MemberJoin__submit(this); return false;">
        <div class="p-10 card bg-base-200">
            <div class="card card-side bordered bg-white">
                <div class="card-body text-sm">
                    <span class="w-1/2 text-center">고인</span>
                    <label class="label">
                        <span class="label-text">
                            성함
                        </span>
                    </label>
                    <input type="text" id="name" name="name" maxlength="20" placeholder="성함을 입력해주세요." autocomplete="off" class="input input-bordered my-2"/>
                    <div id="nameCheckMsg" style="color : red;"></div>

                    <label class="label">
                        <span class="label-text">
                            핸드폰 번호
                        </span>
                    </label>
                    <input type="text" id="cellphoneNo" name="cellphoneNo" maxlength="13" placeholder="핸드폰 번호를 입력해주세요." autocomplete="off" class="input input-bordered my-2"/>
                    <div id="cellphoneNoCheckMsg" style="color : red;"></div>


                    <label class="label">
                        <span class="label-text">
                            근무하시는 지역
                        </span>
                    </label>
                    <select id="location" name="location" class="select select-bordered select-sm w-full max-w-xs">
                        <option value="" disabled selected>지역 선택</option>
                        <div th:each="department : ${departments}" th:object="${department}">
                            <option th:value="*{departmentName}" th:text="*{departmentName}"></option>
                        </div>
                    </select>
                </div>
            </div>
            <br>
            <button id="join-submit" class="btn btn-ghost">회원가입</button>
        </div>
    </form>
</main>

</html>