<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>고인과 장례 관련 정보 입력 및 수정</title>
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/director/modifyFuneral.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <form action="" method="POST" onsubmit="MemberJoin__submit(this); return false;">
        <div class="p-10 card bg-base-200">
            <div class="card card-side bordered bg-white">
                <div class="card-body text-sm border border-base-300">
                    <span class="w-1/2 text-center font-bold text-2xl">고인</span>
                    <br>
                    <br>

                    <label class="label">
                        <span class="label-text font-bold">
                            고인 성함
                        </span>
                    </label>
                    <input th:value="${client?.deceasedName}" type="text" id="deceasedName" name="deceasedName" maxlength="20" placeholder="고인 성함을 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                    <label class="label">
                        <span class="label-text font-bold">
                            고인 성별
                        </span>
                    </label>
                    <br>
                    <div class="flex">
                    <div class="flex">
                    <input th:value="${client?.sex}" type="radio" id="men" name="sex" class="radio"/>
                    <span>&nbsp;남성</span>
                    </div>
                    &nbsp;
                    <div class="flex">
                    <input th:value="${client?.sex}" type="radio" id="women" name="sex" class="radio"/>
                    <span>&nbsp;여성</span>
                    </div>
                    </div>
                    <br>

                    <label class="label">
                        <span class="label-text font-bold">
                            사망 원인
                        </span>
                    </label>
                    <br>
                    <div class="flex">
                        <div class="flex">
                            <input th:value="${client?.cause}" type="radio" id="disease" name="cause" class="radio"/>
                            <span>&nbsp;병사&nbsp;</span>
                        </div>
                        &nbsp;
                        <div class="flex">
                            <input th:value="${client?.cause}" type="radio" id="accident" name="cause" class="radio"/>
                            <span>&nbsp;사고사&nbsp;&nbsp;</span>
                        </div>

                        <div class="flex">
                            <input th:value="${client?.cause}" type="radio" id="causeElse" name="cause" class="radio"/>
                            <span>&nbsp;기타</span>
                        </div>
                    </div>
                    <br>

                    <label class="label">
                        <span class="label-text font-bold">
                            사망 서류
                        </span>
                    </label>
                    <br>
                    <div class="flex">
                        <div class="flex">
                            <input th:value="${client?.cause}" type="checkbox" id="deathDiagnosis" name="cause" class="checkbox"/>
                            <span>&nbsp;사망진단서&nbsp;</span>
                        </div>
                        &nbsp;
                        <div class="flex">
                            <input th:value="${client?.cause}" type="checkbox" id="deathCertificate" name="cause" class="checkbox"/>
                            <span>&nbsp;사체검안서&nbsp;&nbsp;</span>
                        </div>

                        <div class="flex">
                            <input th:value="${client?.cause}" type="checkbox" id="autopsied" name="cause" class="checkbox"/>
                            <span>&nbsp;검시필증</span>
                        </div>
                    </div>
                    <br>

                    <label class="label">
                        <span class="label-text font-bold">
                            고인의 주민등록 주소
                        </span>
                    </label>
                    <div class="flex">
                    <button type="button" onclick="goPopup();" class="btn btn-outline w-20 whitespace-nowrap">주소 검색</button>
<!--                    <input type="text"  style="width:500px;" id="roadFullAddr"  name="roadFullAddr" />-->
                    <input disabled th:value="${client?.deceasedHomeAddress}" type="text" id="deceasedHomeAddress" name="deceasedHomeAddress" placeholder="왼쪽 버튼을 통해 주소를 검색해주세요." class="input input-bordered my-2 w-1/2 font-bold"/>
                    </div>
                    <label class="label">
                        <span class="label-text font-bold">
                            본관
                        </span>
                    </label>
                    <input th:value="${client?.familyClan}" type="text" id="familyClan" name="familyClan" maxlength="20" placeholder="고인의 본관을 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                    <label class="label">
                        <span class="label-text font-bold">
                            종교
                        </span>
                    </label>
                    <input th:value="${client?.religion}" type="text" id="religion" name="religion" maxlength="20" placeholder="고인의 종교를 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                    <label class="label">
                        <span class="label-text font-bold">
                            직분
                        </span>
                    </label>
                    <input th:value="${client?.duty}" type="text" id="duty" name="duty" maxlength="20" placeholder="고인의 직분을 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                    <br>
                    <br>
                    <label class="label">
                        <span class="label-text font-bold">
                            장례식장
                        </span>
                    </label>
                    <select id="department" name="department" class="select select-bordered select-sm w-full max-w-xs">
                        <option value="" disabled selected>시/도</option>
                        <div th:each="department : ${departments}" th:object="${department}">
                            <option th:value="*{departmentName}" th:text="*{departmentName}"></option>
                        </div>
                    </select>

                    <select id="departmentDetail" name="departmentDetail" class="select select-bordered select-sm w-full max-w-xs">
                        <option value="" disabled selected>시/군/구</option>
                    </select>

                    <select id="funeralHallName" name="funeralHallName" class="select select-bordered select-sm w-full max-w-xs">
                        <option value="" disabled selected>장례식장</option>
                    </select>

                    <br>
                    <label class="label">
                        <span class="label-text font-bold">
                            호실
                        </span>
                    </label>
                    <input type="text" id="funeralHallRoom" name="funeralHallRoom" maxlength="20" placeholder="장례식장 호실을 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                    <br>
                    <br>

                    <label class="label">
                        <span class="label-text font-bold">
                            장법
                        </span>
                    </label>
                    <br>
                    <div class="flex">
                        <div class="flex">
                            <input value="0" type="radio" id="bury" name="funeralMethod" class="radio"/>
                            <span>&nbsp;매장</span>
                        </div>
                        &nbsp;
                        <div class="flex">
                            <input value="1" type="radio" id="cremation" name="funeralMethod" class="radio"/>
                            <span>&nbsp;화장</span>
                        </div>
                    </div>
                    <br>

                    <div id="hideBuryInput" class="hidden">
                    <label class="label">
                        <span class="label-text font-bold">
                            장지
                        </span>
                    </label>
                    <input type="text" id="buryInput" name="buryInput" maxlength="30" placeholder="장지를 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>
                    </div>

                    <div id="hideCremationInput" class="hidden">
                        <a href="https://www.15774129.go.kr/new/esky_p/esky_index.do#MENU:M211000000" target='_blank' class="btn">화장장 예약하기</a>
                        <label class="label">
                        <span class="label-text font-bold">
                            화장장
                        </span>
                        </label>
                        <input type="text" id="cremationInput" name="buryInput" maxlength="30" placeholder="화장장를 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>
                    </div>

                </div>
            </div>

            <br>

            <div class="card-body text-sm border border-base-300">
                <span class="w-1/2 text-center font-bold text-2xl">상주</span>
                <br>
                <br>
                <label class="label">
                        <span class="label-text font-bold">
                            상주 성함
                        </span>
                </label>
                <input th:value="${chief?.name}" type="text" id="chiefName" name="chiefName" maxlength="20" placeholder="상주님의 성함을 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                <label class="label">
                        <span class="label-text font-bold">
                            고인과의 관계
                        </span>
                </label>
                <input th:value="${chief?.relation}" type="text" id="chiefRelation" name="chiefRelation" maxlength="15" placeholder="고인과의 관계를 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                <label class="label">
                        <span class="label-text font-bold">
                            상주 연락처
                        </span>
                </label>
                <input th:value="${chief?.cellphoneNo}" type="text" id="chiefCellphoneNo" name="chiefCellphoneNo" maxlength="11" placeholder="핸드폰 번호를 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>

                <label class="label">
                        <span class="label-text font-bold">
                            주소
                        </span>
                </label>
                <input th:value="${chief?.address}" type="text" id="chiefAddress" name="chiefAddress" maxlength="30" placeholder="상주님의 주소를 입력해주세요." autocomplete="off" class="input input-bordered my-2 w-1/2"/>


            </div>

            <br>
            <br>

            <button id="modify-submit" class="btn btn-ghost">입력 완료</button>
            <br>
            <br>
            <a th:href="@{./progress(clientId=${client.id})}" class="btn btn-ghost w-1/4" onclick="if ( confirm('현재 페이지를 수정한 경우, 수정이 반영되지 않습니다.') == false ) return false;">돌아가기</a>
        </div>
    </form>
</main>

</html>