<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>장례 진행 현황</title>
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/director/progress.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <!--  장례  -->
    <div class="card card-side shadow my-2">
        <div class="card-body">
            <h2 class="card-title">故 [[${client.deceasedName}]]님의 장례</h2>
            <div class="flex items-center">
                <div class="badge badge-md">상주 성함</div>
                <p class="pl-2">[[${client.relatedName}]]</p>
            </div>
            <div class="flex items-center">
                <div class="badge badge-md">상주 전화번호</div>
                <p class="pl-2">[[${client.cellphoneNo}]]</p>
            </div>
            <div class="flex items-center">
                <div class="badge badge-md">위치</div>
                <p class="pl-2">[[${client.location}]] [[${client.address}]]</p>
            </div>
            <div class="flex items-center">
                <div class="badge badge-md">부조금을 받을 유족의 계좌번호</div>
                <p class="pl-2">[[${client.bank}]] [[${client.accountNum}]]</p>
            </div>
            <div class="flex items-center">
                <div class="badge badge-md">합계</div>
                <p class="pl-2">[[${sum}]] 원</p>
            </div>
        </div>
    </div>
    <!--  제단꽃  -->
    <div class="card card-side shadow mb-2">
        <figure>
            <div th:if="${funeral.flowerId != 0}">
                <img th:src="@{../../../resource/img/flower/flower{flowerId}.png(flowerId = ${funeral.flowerId})}" alt="" style="width: 400px; height: 250px;">
            </div>
        </figure>
        <div class="card-body">
            <h2 class="card-title">제단꽃</h2>
            <th:block th:if="${flower == null}">
                <p>상품을 선택해주세요</p>
            </th:block>
            <th:block th:unless="${flower == null}">
                <p>상품명 : [[${flower.name}]]</p>
                <p>가격 : [[${flower.retailPrice}]] 원</p>
            </th:block>
            <div class="card-actions">
                <form action="./selectFlower">
                    <button class="btn btn-ghost" type="submit">제단꽃 선택하기</button>
                </form>
            </div>
        </div>
    </div>
</main>

</html>