<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>장례 진행 현황</title>
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/director/progress.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <!--  장례  -->
    <div class="p-10 card bg-base-200" th:if="${funeral != null}">
        <div class="card card-side shadow my-2 bg-white">
            <div class="card-body">
                <h2 class="card-title">故 [[${client.deceasedName}]]님의 장례</h2>
                <div class="flex items-center">
                    <div class="badge badge-md">상주 성함</div>
                    <p class="pl-2">[[${chief.name}]]</p>
                </div>
                <div class="flex items-center">
                    <div class="badge badge-md">상주 전화번호</div>
                    <p class="pl-2">[[${chief.cellphoneNo}]]</p>
                </div>
                <div class="flex items-center">
                    <div class="badge badge-md">고인의 위치</div>
                    <p class="pl-2">[[${client.location}]] [[${client.deceasedAddress}]]</p>
                </div>
                <!-- 계좌 정보가 empty가 아닌 경우에만 보여준다. -->
                <div th:if="${chief.bank != '' && chief.accountNum != '' && chief.accountOwner != ''}">
                    <div class="flex items-center">
                        <div class="badge badge-md">부조금을 받을 유족의 계좌번호</div>
                        <p class="pl-2">[[${chief.bank}]] [[${chief.accountNum}]] ([[${chief.accountOwner}]])</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="badge badge-md">합계</div>
                    <p class="pl-2">[[${sumFormat}]] 원</p>
                </div>
                <br>
                <br>
                <br>
                <a th:href="@{./modifyFuneral(clientId=${client.id})}" class="btn btn-ghost w-1/2" type="submit">고인과 장례 관련 정보 입력 및 수정</a>
            </div>
        </div>
        <br>
        <!--  운구 차량  -->
        <div class="card card-side shadow mb-2 bg-white">
            <div class="card-body">
                <h2 class="card-title">운구 차량</h2>
                <th:block th:if="${funeral.coffinTransporterUseStatus}">
                    운구차량을 호출했습니다.
                </th:block>
                <form action="./selectCoffinTransporter">
                    <button class="btn btn-ghost" type="submit">운구 차량 호출하기</button>
                </form>
            </div>
        </div>
        <!--  제단꽃  -->
        <div class="card card-side shadow mb-2 bg-white">
            <figure>
                <div th:if="${funeral.flowerId != 0}">
                    <img th:src="@{../../../resource/img/flower/flower{flowerId}.png(flowerId = ${funeral.flowerId})}"
                         alt="" style="width: 400px; height: 250px;">
                </div>
                <div th:if="${funeral.flowerTributeId != 0}">
                    <img th:src="@{../../../resource/img/flowerTribute/flowerTribute{flowerTributeId}.png(flowerTributeId = ${funeral.flowerTributeId})}"
                         alt="" style="width: 400px; height: 250px;">
                </div>
            </figure>
            <div class="card-body">
                <h2 class="card-title">제단꽃, 헌화</h2>
                <th:block th:if="${flower == null}">
                    <p>제단꽃을 선택할 수 있습니다.</p>
                </th:block>
                <th:block th:unless="${flower == null}">
                    <p class="font-bold">제단꽃</p>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">가격</div>
                        <p class="pl-2">[[${flower.retailPriceFormat}]]</p>
                    </div>
                </th:block>
                <th:block th:if="${flowerTribute == null}">
                    <p>헌화를 선택할 수 있습니다.</p>
                </th:block>
                <th:block th:unless="${flowerTribute == null}">
                    <p class="font-bold">헌화</p>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">가격</div>
                        <p class="pl-2">[[${flowerTribute.retailPriceFormat}]] 원 (단품)</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">세트</div>
                        <p class="pl-2">[[${flowerTributeOrder.extra__bunchCnt}]] 세트 ([[${flowerTribute.bunch *
                            flowerTributeOrder.extra__bunchCnt}]] 개)</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">합계</div>
                        <p class="pl-2">[[${flowerTributeOrder.retailPriceMulBunchPriceMulBunchCnt}]] 원</p>
                    </div>
                </th:block>
                <div class="card-actions">
                    <form action="./selectFlower">
                        <button class="btn btn-ghost" type="submit">제단꽃, 헌화 선택하기</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- 상복 -->
        <div class="card card-side shadow mb-2 bg-white">
            <figure>

            </figure>
            <div class="card-body">
                <h2 class="card-title">상복</h2>
                <th:block th:if="${femaleMourningCloth == null}">
                    <p>상복(여)을 선택할 수 있습니다.</p>
                </th:block>
                <th:block th:unless="${femaleMourningCloth == null}">
                    <p class="font-bold">상복(여)</p>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">가격</div>
                        <p class="pl-2">[[${femaleMourningCloth.retailPriceFormat}]] 원 (단품)</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">갯수</div>
                        <p class="pl-2">[[${femaleMourningClothOrder.extra__femaleClothCnt}]] 벌</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">합계</div>
                        <p class="pl-2">[[${femaleMourningClothPriceFormat}]] 원</p>
                    </div>
                </th:block>
                <th:block th:if="${maleMourningCloth == null}">
                    <p>상복(남)을 선택할 수 있습니다.</p>
                </th:block>
                <th:block th:unless="${maleMourningCloth == null}">
                    <p class="font-bold">상복(남)</p>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">가격</div>
                        <p class="pl-2">[[${maleMourningCloth.retailPriceFormat}]] 원 (단품)</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">갯수</div>
                        <p class="pl-2">[[${maleMourningClothOrder.extra__maleClothCnt}]] 벌</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">합계</div>
                        <p class="pl-2">[[${maleMourningClothPriceFormat}]] 원</p>
                    </div>
                </th:block>
                <th:block th:if="${shirt == null}">
                    <p>와이셔츠를 선택할 수 있습니다.</p>
                </th:block>
                <th:block th:unless="${shirt == null}">
                    <p class="font-bold">와이셔츠</p>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">가격</div>
                        <p class="pl-2">[[${shirt.retailPriceFormat}]] 원 (단품)</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">갯수</div>
                        <p class="pl-2">[[${shirtOrder.extra__shirtCnt}]] 벌</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">합계</div>
                        <p class="pl-2">[[${shirtPriceFormat}]] 원</p>
                    </div>
                </th:block>
                <th:block th:if="${necktie == null}">
                    <p>넥타이를 선택할 수 있습니다.</p>
                </th:block>
                <th:block th:unless="${necktie == null}">
                    <p class="font-bold">넥타이</p>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">가격</div>
                        <p class="pl-2">[[${necktie.retailPriceFormat}]] 원 (단품)</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">갯수</div>
                        <p class="pl-2">[[${necktieOrder.extra__necktieCnt}]] 개</p>
                    </div>
                    <div class="flex items-center mb-1">
                        <div class="badge badge-md">합계</div>
                        <p class="pl-2">[[${necktiePriceFormat}]] 원</p>
                    </div>
                </th:block>
                <div class="card-actions">
                    <form action="./selectMourningCloth">
                        <button class="btn btn-ghost" type="submit">상복 선택하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 진행중인 장례가 없을경우 -->
    <div class="p-10 card bg-base-200" th:unless="${funeral != null}">
        <div class="card card-side shadow mb-2 bg-white">
            <div class="card-body">
                진행중인 장례가 없습니다.
            </div>
        </div>
    </div>
</main>

</html>