<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>수의 선택</title>
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/director/selectShroud.js" charset="utf-8" defer></script>
    </th:block>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/resource/director/selectShroud.css">
    </th:block>
</head>
<main layout:fragment="main">
    <div class="p-10 card bg-base-200">
        <form onsubmit="SelectShroud__submit(this); return false;">
            <div class="card-body text-sm border border-base-300 bg-white mb-2">
                <h2 class="card-title">수의 선택</h2>
                <input type="hidden" name="funeralId" th:value="${funeral.id}">
                <th:block th:if="${#strings.equals(client.sex, 'N')}">
                    고인의 성별을 선택 후 주문해주세요
                </th:block>
                <div class="flex flex-col w-full" th:each="shroud : ${shrouds}">
                    <th:block th:if="${#strings.equals(shroud.gender, client.sex)}">
                        <div class="card card-side mb-2 w-full bg-base-200 shadow">
                            <figure>
                                <img th:src="@{../../../resource/img/shroud/shroud{shroudId}.png(shroudId = ${shroud.id})}" alt="" style="width: 400px; height: 250px;">
                            </figure>
                            <div class="card-body">
                                <div class="flex items-center mb-1">
                                    <div class="badge badge-md">상품명</div>
                                    <p class="pl-2">[[${shroud.name}]]</p>
                                </div>
                                <div class="flex items-center mb-1">
                                    <div class="badge badge-md">성별</div>
                                    <p class="pl-2" th:if="${#strings.equals(shroud.gender, 'M')}">남성</p>
                                    <p class="pl-2" th:if="${#strings.equals(shroud.gender, 'F')}">여성</p>
                                </div>
                                <div class="flex items-center mb-1">
                                    <div class="badge badge-md">가격</div>
                                    <p class="pl-2">[[${shroud.retailPriceFormat}]] 원</p>
                                </div>
                                <div class="card-actions">
                                    <div class="form-control flex">
                                        <span class="shroudIdSelectBox btn btn-ghost" th:id="|shroud${shroud.id}|" th:value="${shroud.id}">선택하기</span>
                                        <input id="shroudId" type="radio" name="shroudId" class="radio" th:value="${shroud.id}" style="display: none;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider" th:if="${shrouds.size != shroud.id && shrouds.size - 1 != shroud.id}">OR</div>
                    </th:block>
                </div>
            </div>
            <!-- script로 db에서 조회된 데이터가 있을경우 데이터를 기반으로 선택했던 정보들을 표시해줌 -->
            <script th:if="${shroudOrder != null}">
                $(".shroudIdSelectBox#shroud[[${shroudOrder.standardId}]]").addClass('active');
                $(".shroudIdSelectBox#shroud[[${shroudOrder.standardId}]]").text("선택 됨");
                $("input[value='[[${shroudOrder.standardId}]]']#shroudId").prop('checked', true);
            </script>
            <input class="btn btn-ghost w-full" type="submit" value="완료">
            <br>
            <br>
            <input class="btn btn-ghost w-full" type="button" value="돌아가기">
        </form>
    </div>
</main>

</html>