<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>도우미 호출</title>
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/director/selectHelper.js" charset="utf-8" defer>
        </script>
    </th:block>
</head>
<main layout:fragment="main">
    <script th:inline="javascript">

        var clientId = [[${client.id}]];

        var funeralHall = [[${client.funeralHall}]];
        var funeralHallRoom = [[${client.funeralHallRoom}]];
        if(funeralHall.length == 0 || funeralHallRoom.length == 0){
            alert('먼저 장례식장 정보를 입력해주십시오.');
            window.location.replace('/usr/director/progress?clientId=' + clientId);
        }



    </script>

    <div class="p-10 card bg-base-200">
        <div class="bg-white">
            <div class="card-body text-sm border border-base-300">
                <label class="label">
                        <span class="label-text font-bold">
                            도우미 시급 정보
                        </span>
                </label>
                <span>기본 시급: 9,000원</span>
                <span>추가 근무 시급: 15,000원</span>
            </div>
        </div>
    </div>
    <form method="POST" onsubmit="DirectorSelectHelper__submit(this);" >
        <div class="p-10 card bg-base-200">
            <div class="bg-white">
                <div class="card-body text-sm border border-base-300">
                    <label class="label">
                        <span class="label-text font-bold">
                            ※ 도우미 호출 시, 현재 입력된 장례식장 주소를 알려줍니다.
                        </span>
                    </label>
                    <label class="label">
                        <span class="label-text font-bold">
                            ※ 선택된 시/도를 기준으로 호출됩니다.
                        </span>
                    </label>
                    <label class="label">
                        <span class="label-text font-bold">
                            ※ 호출하지 않고 페이지를 벗어날 경우, 저장되지 않습니다.
                        </span>
                    </label>


                    <br>
                    <br>

                    <label class="label">
                        <span class="label-text font-bold">
                            도우미 추가
                        </span>
                    </label>

                        <div class="flex">
                            <select id="department" name="department" class="select select-bordered w-1/12">
                                <option value="" disabled selected>시/도</option>
                                <div th:each="department : ${departments}" th:object="${department}">
                                    <option th:value="*{departmentName}" th:text="*{departmentName}"></option>
                                </div>
                            </select>
                            <input type="date" id="workDate1" name="workDate1" class="input input-bordered w-2/12">
                            <select id="workStartTime1" name="workStartTime1" class="select select-bordered w-2/12">
                                <option value="" disabled selected>근무시작 시간</option>
                                <option value="10:00">10:00</option>
                                <option value="12:00">12:00</option>
                            </select>
                            <select id="workFinishTime1" name="workFinishTime1" class="select select-bordered w-2/12">
                                <option value="" disabled selected>근무종료 시간</option>
                                <option value="20:00">20:00</option>
                                <option value="22:00">22:00</option>
                            </select>
                            <button type="button" class="btn" onclick="addSchedule(this);">근무일정 추가</button>
                            <input type="text" placeholder="인원 수" class="input input-bordered w-1/12">
                            <i onclick="addHelper(this);"
                               class='far fa-plus-square self-center text-4xl ml-3 cursor-pointer'></i>
                        </div>
                    <div id="scheduleList">
                    <!-- 도우미 스케줄이 추가되는 부분 -->
                    </div>

                    <br>
                    <br>
                    <div class="divider font-bold">현재 추가된 도우미</div>
                    <br>
                    <form method="POST" onsubmit="DirectorCallHelper__submit(this); return false;">
                        <div class="overflow-x-auto">
                            <table class="table w-full table-zebra">
                                <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th>지역</th>
                                    <th>근무 날짜</th>
                                    <th>근무 시작</th>
                                    <th>근무 종료</th>
                                    <th>인원 수</th>
                                    <th>삭제</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="helperList" class="w-full">
                                <!-- 도우미 추가 시, 정보가 들어가는 부분 -->
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                        <br>
                        <button id="helper-submit" class="btn btn-outline">일괄 호출하기</button>
                    </form>
                </div>
            </div>
        </div>
    </form>
</main>