<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--
1) head에는 공통되는 JS, CSS 외부 라이브러리를 불러온다
2) header, footer를 따로 제작해서 넣는다.
3) 현재 파일(default.html)을 딱 한 번 호출해서 위의 모든 게 적용된다.
-->
<!--  공통으로 사용하는 footer 태그를 제작된 head 로 교체-->
<head th:replace="usr/fragments/head :: head">
  <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">[[#{common.logoText}]]</title>
</head>
<body>
<div class="site-wrap flex flex-col min-h-screen">
  <!--  공통으로 사용하는 footer 태그를 제작된 header 로 교체-->
  <header th:replace="usr/fragments/header :: header" >
    <p>Page header goes here</p>
  </header>
  <main layout:fragment="main" class="flex-grow h-0 mt-2 con mx-auto px-4">
    <p>Page content goes here</p>
  </main>
<!--  공통으로 사용하는 footer 태그를 제작된 footer 로 교체-->
  <footer th:replace="usr/fragments/footer :: footer">
    <p>Page footer goes here</p>
  </footer>
</div>
</body>
</html>