/* active 처리 */
.femaleMourningClothIdSelectBox.active{
    background: #d2d4d7;
}

.femaleMourningClothIdSelectBox.active{
    background: #d2d4d7;
}

.maleMourningClothIdSelectBox.active{
    background: #d2d4d7;
}

.maleMourningClothIdSelectBox.active{
    background: #d2d4d7;
}