/* active 처리 */
.femaleMourningClothBlackIdSelectBox.active{
    background: #d2d4d7;
}

.femaleMourningClothBlackIdSelectBox.active{
    background: #d2d4d7;
}

.femaleMourningClothWhiteIdSelectBox.active{
    background: #d2d4d7;
}

.femaleMourningClothWhiteIdSelectBox.active{
    background: #d2d4d7;
}

.maleMourningClothIdSelectBox.active{
    background: #d2d4d7;
}

.maleMourningClothIdSelectBox.active{
    background: #d2d4d7;
}

.shirtIdSelectBox.active{
    background: #d2d4d7;
}

.shirtIdSelectBox.active{
    background: #d2d4d7;
}

.necktieIdSelectBox.active{
    background: #d2d4d7;
}

.necktieIdSelectBox.active{
    background: #d2d4d7;
}