<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
  <title>장례지도사 출동 요청</title>
</head>
<main layout:fragment="main">
  <form action="./doJoin" method="POST" onsubmit="MemberCall__submit(this); return false;">
    <div class="label">고인의 성함</div>
    <div class="input">
      <input type="text" id="deceasedName" name="deceasedName" maxlength="30" placeholder="고인의 성함을 입력해주세요." autocomplete="off"/>
      <div id="deceasedNameCheckMsg" style="color : red;"></div>
    </div>
    <br>

    <div class="label">상주님의 성함</div>
    <div class="input">
      <input type="text" id="relatedName" name="relatedName" maxlength="30" placeholder="상주의 성함을 입력해주세요." autocomplete="off"/>
      <div id="relatedNameCheckMsg" style="color : red;"></div>
    </div>
    <br>

    <div class="label">상주님의 연락처</div>
    <div class="input">
      <input type="text"  id="cellphoneNo" name="cellphoneNo" maxlength="12" placeholder="상주의 연락처를 입력해주세요." autocomplete="off"/>
      <div id="cellphoneNoCheckMsg" style="color : red;"></div>
    </div>
    <br>

    <div class="label">장례를 치르시는 지역</div>
    <div class="input">
      <select id="location" name="location">
        <option value="" disabled selected>지역 선택</option>
        <div th:each="department : ${departments}" th:object="${department}">
          <option th:value="*{departmentName}" th:text="*{departmentName}"></option>
        </div>
      </select>
    </div>
    <br>
    <div>
      <button id="call-submit">출동 요청</button>
    </div>
  </form>
</main>

</html>