<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>아이디 찾기</title>

    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/findId.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <form action="./doFindId" method="POST" onsubmit="MemberFindId__submit(this); return false;">
        <div class="p-10 card bg-base-200">
            <div class="card card-side bordered bg-white">
                <div class="card-body text-sm">
                    <input type="hidden" name="loginId">

                    <label class="label flex flex-col">
                        <span class="label-text self-start">
                            성함
                        </span>
                    </label>
                    <input type="text" id="name" name="name" maxlength="20" placeholder="성함을 입력해주세요." autocomplete="off" class="input input-bordered my-2"/>
                    <div class="pl-1 pt-2 text-sm" id="nameCheckMsg" style="color : red;"></div>
                    <label class="label flex flex-col">
                        <span class="label-text self-start">
                            이메일
                        </span>
                    </label>
                    <input type="text" id="email" name="email" placeholder="이메일 입력해주세요." class="input input-bordered my-2" autocomplete="off"/>
                    <div class="pl-1 pt-2 text-sm" id="emailCheckMsg" style="color : red;"></div>
                    <br>
                    <button class="btn btn-ghost" id="findId-submit">아이디 찾기</button>
                </div>
            </div>
        </div>

    </form>
</main>

</html>