<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>비밀번호 찾기</title>

    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/findPw.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <form action="./doFindPw" method="POST" onsubmit="MemberFindPw__submit(this); return false;">
        <div class="label">아이디</div>
        <div class="input">
            <input type="text" id="loginId" name="loginId" maxlength="16" placeholder="아이디를 입력해주세요." autocomplete="off"/>
            <div id="loginIdCheckMsg" style="color : red;"></div>
        </div>
        <br>

        <div class="label">이메일</div>
        <div>아래 이메일로 임시 비밀번호가 발송됩니다.</div>
        <div class="input">
            <input type="text" id="email" name="email" placeholder="이메일 입력해주세요." autocomplete="off"/>
            <div id="emailCheckMsg" style="color : red;"></div>
        </div>
        <br>

        <div>
            <button id="findPw-submit">완료</button>
        </div>
    </form>
</main>

</html>