<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">
<head>
    <title>비밀번호 찾기</title>

    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/findPw.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <form action="./doFindPw" method="POST" onsubmit="MemberFindPw__submit(this); return false;">
        <div class="p-10 card bg-base-200">
            <div class="card card-side bordered bg-white">
                <div class="card-body text-sm">
                    <label class="label flex flex-col">
                        <span class="label-text self-start">
                            아이디
                        </span>
                    </label>
                    <input type="text" id="loginId" name="loginId" maxlength="16" placeholder="아이디를 입력해주세요." autocomplete="off" class="input input-bordered my-2"/>
                    <div id="loginIdCheckMsg" style="color : red;"></div>
                    <br>

                    <label class="label flex flex-col">
                        <span class="label-text self-start">
                            이메일
                        </span>
                        <span class="label-text self-start">
                            아래의 이메일로 임시 비밀번호가 발송됩니다.
                        </span>
                    </label>
                    <input type="text" id="email" name="email" placeholder="이메일 입력해주세요." autocomplete="off" class="input input-bordered my-2"/>
                    <div id="emailCheckMsg" style="color : red;"></div>
                </div>
            </div>
            <br>
            <button class="btn btn-ghost" id="findPw-submit" >임시 비밀번호 발송</button>
        </div>
    </form>
</main>

</html>