<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>[[${@rq.loginedMember.name}]]님</title>

    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/info.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <div class="p-10 card bg-base-200">
        <div class="form-control">
            <div class="card card-side bordered bg-white">
                <div class="card-body text-sm">
                    <h2 class="card-title">[[${@rq.loginedMember.name}]] 님</h2>

                    <label class="label">
                        <span class="label-text font-bold">
                            연락처
                        </span>
                    </label>
                    <div class="flex items-center">
                        <p class="px-2 py-4">[[${cellphoneNo}]]</p>
                        <button class="btn btn-ghost">연락처 변경</button>
                    </div>

                    <label class="label">
                        <span class="label-text font-bold">
                            이메일 주소
                        </span>
                    </label>
                    <div class="flex items-center">
                        <p class="px-2 py-4">[[${@rq.loginedMember.email}]]</p>
                        <button class="btn btn-ghost">이메일 변경</button>
                    </div>

                    <label class="label">
                        <span class="label-text font-bold">
                            근무지
                        </span>
                    </label>
                    <div class="flex items-center">
                        <p class="px-2 py-4">[[${@rq.loginedMember.location}]]</p>
                        <button class="btn btn-ghost">근무지 변경</button>
                    </div>

                    <label class="label">
                        <span class="label-text font-bold">
                            계좌번호
                        </span>
                        <span class="label-text font-bold">
                            아래 계좌로 영업비가 입금됩니다.
                        </span>
                    </label>
                    <div class="flex items-center">
                        <p class="px-2 py-4">[[${@rq.loginedMember.bank}]] / [[${@rq.loginedMember.accountNum}]]</p>
                        <button class="btn btn-ghost">계좌번호 변경</button>
                    </div>

                    <!-- 관리자나 영업자가 아닐 경우, -->
                    <div th:if="${@rq.loginedMember.roleLevel != 1 && @rq.loginedMember.roleLevel != 2}">
                        <!-- authenticationStatus가 0(미승인)일 경우, 직업명 + 상태 -->
                        <th:block th:if="${@rq.loginedMember.extra__authenticationLevel == 0}">
                            <label class="label">
                                <span class="label-text font-bold">
                                    [[${@rq.loginedMember.extra__roleName}]]
                                </span>
                            </label>
                            <p class="px-2 py-4">승인 대기 중입니다.</p>
                        </th:block>
                        <!-- authenticationStatus가 1(승인) 상태일 경우, 직업명 + 승인날짜 -->
                        <th:block th:if="${@rq.loginedMember.extra__authenticationLevel == 1}">
                            <label class="label">
                                <span class="label-text font-bold">
                                    [[${@rq.loginedMember.extra__roleName}]]
                                </span>
                            </label>
                            <p class="px-2 py-4">승인된 날짜: [[${@rq.loginedMember.extra__authenticationDate}]]</p>
                        </th:block>
                        <!-- authenticationStatus가 2(승인 보류)일 경우, 직업명 + 상태 -->
                        <th:block th:if="${@rq.loginedMember.extra__authenticationLevel == 2}">
                            <label class="label">
                                <span class="label-text font-bold">
                                    [[${@rq.loginedMember.extra__roleName}]]
                                </span>
                            </label>
                            <p class="px-2 py-4">승인 임시 보류 중입니다.</p>
                        </th:block>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="flex">
            <a href="./requirePw?action=modifyPw" class="btn btn-ghost w-1/2">비밀번호 변경</a>
            <a href="./requirePw?action=modifyInfo" class="btn btn-ghost w-1/2">정보 수정</a>
        </div>
    </div>
</main>

</html>