<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>[[${@rq.loginedMember.name}]]님</title>

    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/info.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <input type="hidden" name="loginPwInput">
    <br>

    <div style="font-weight: bold; font-size: 20px;">[[${@rq.loginedMember.name}]] 님</div>

    <br>
<!-- SQL문에서 핸드폰 번호 양식에 맞춰서 불러온 값 출력(현재는 010-XXXX-XXXX에 대한 양식만 존재함) -->
    <div class="label">연락처</div>
    <div style="font-weight: bold; font-size: 18px;">[[${cellphoneNo}]]</div>
    <button>연락처 변경</button>
    <br>
    <br>

    <div class="label">이메일</div>
    <div style="font-weight: bold; font-size: 18px;">[[${@rq.loginedMember.email}]]</div>
    <button>이메일 변경</button>
    <br>
    <br>

    <div class="label">근무하시는 지역</div>
    <div style="font-weight: bold; font-size: 18px;">[[${@rq.loginedMember.location}]]</div>
    <button>근무지 변경</button>
    <br>
    <br>

    <div class="label">아래 계좌로 영업비가 입금됩니다.</div>
    <div style="font-weight: bold; font-size: 18px;">[[${@rq.loginedMember.bank}]]은행 /
        [[${@rq.loginedMember.accountNum}]]
    </div>
    <button>계좌 변경</button>

    <br>
    <br>
    <!-- 관리자나 영업자가 아닐 경우, -->
    <div th:if="${@rq.loginedMember.roleLevel != 1 && @rq.loginedMember.roleLevel != 2}">
        <!-- authenticationStatus가 0(미승인)일 경우, 직업명 + 상태 -->
        <div th:if="${@rq.loginedMember.extra__authenticationStatus == 0}">
            [[${@rq.loginedMember.extra__roleName}]]: 승인 대기 중입니다.</div>
        <!-- authenticationStatus가 1(승인) 상태일 경우, 직업명 + 승인날짜 -->
        <div th:if="${@rq.loginedMember.extra__authenticationStatus == 1}">
            [[${@rq.loginedMember.extra__roleName}]]
            <br>
            (승인된 날짜: [[${@rq.loginedMember.extra__authenticationDate}]])</div>
        <!-- authenticationStatus가 2(승인 보류)일 경우, 직업명 + 상태 -->
        <div th:if="${@rq.loginedMember.extra__authenticationStatus == 2}">
            [[${@rq.loginedMember.extra__roleName}]]: 승인 임시 보류 중입니다.</div>

    </div>


    <div>
        <a href="../home/main">돌아가기</a>
    </div>
</main>

</html>