<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>회원가입</title>

    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/join.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <form action="./doJoin" method="POST" onsubmit="MemberJoin__submit(this); return false;">
        <input type="hidden" name="loginPwInput">
        <div class="label">아이디</div>
        <div class="input">
            <input type="text" id="loginId" name="loginId" maxlength="16" placeholder="아이디를 입력해주세요." autocomplete="off"/>
            <div id="loginIdCheckMsg" style="color : red;"></div>
        </div>
        <br>

        <div class="label">비밀번호</div>
        <div class="input">
            <input type="password" id="loginPw" name="loginPw" maxlength="16" placeholder="비밀번호를 입력해주세요." autocomplete="off"/>
            <div id="loginPwCheckMsg" style="color : red;"></div>
        </div>
        <br>

        <div class="label">비밀번호 재입력</div>
        <div class="input">
            <input type="password"  id="loginPwConfirm" name="loginPwConfirm" maxlength="16" placeholder="비밀번호를 입력해주세요." autocomplete="off"/>
            <div id="loginPwConfirmCheckMsg" style="color : red;"></div>
        </div>
        <br>

        <div class="label">성함</div>
        <div class="input">
            <input type="text" id="name" name="name" maxlength="20" placeholder="성함을 입력해주세요." autocomplete="off"/>
            <div id="nameCheckMsg" style="color : red;"></div>
        </div>
        <br>

        <div class="label">핸드폰 번호</div>
        <div class="input">
            <input type="text" id="cellphoneNo" name="cellphoneNo" maxlength="13" placeholder="핸드폰 번호를 입력해주세요." autocomplete="off"/>
            <div id="cellphoneNoCheckMsg" style="color : red;"></div>
        </div>
        <br>

        <div class="label">이메일</div>
        <div class="input">
            <input type="text" id="email" name="email" placeholder="이메일 입력해주세요." autocomplete="off"/>
            <div id="emailCheckMsg" style="color : red;"></div>
        </div>
        <br>

        <div class="label">근무하시는 지역</div>
        <div class="input">
            <select id="location" name="location">
                <option value="" disabled selected>지역 선택</option>
                <div th:each="department : ${departments}" th:object="${department}">
                    <option th:value="*{departmentName}" th:text="*{departmentName}"></option>
                </div>
            </select>
        </div>
        <br>

        <div class="label">아래 계좌로 영업비가 입금됩니다.</div>
        <div class="input">
            <select id="bank" name="bank">
                <option value="" disabled selected>은행 선택</option>
                <div th:each="bank : ${banks}" th:object="${bank}">
                    <option th:value="*{bankName}" th:text="*{bankName}"></option>
                </div>
            </select>
        </div>
        <div class="input">
            <input type="text" id="accountNum" name="accountNum" maxlength="16" placeholder="계좌번호" autocomplete="off"/>
            <div class="pl-1 pt-2 text-sm" id="accountNumCheckMsg" style="color : red;"></div>
        </div>
        <br>
        <div>
            <button id="join-submit">회원가입</button>
        </div>
    </form>
</main>

</html>