<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>회원가입</title>
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/join.js" charset="utf-8" defer></script>
    </th:block>
</head>

<main layout:fragment="main">
    <form action="./doJoin" method="POST" onsubmit="MemberJoin__submit(this); return false;">
        <div>
            <input type="text" id="loginId" name="loginId" placeholder="아이디를 입력해주세요.">
        </div>
        <div id="loginIdCheckMsg" style="color : red;"></div>
        <div>
            <input type="password" id="loginPw" name="loginPw" placeholder="비밀번호를 입력해주세요.">
        </div>
        <div>
            <input type="password" id="loginPwCheck" name="loginPwCheck" placeholder="비밀번호를 확인해주세요.">
        </div>
        <div class="pl-1 pt-2 text-sm" id="loginPwCheckMsg"></div>
        <div>
            <input type="text" id="name" name="name" placeholder="이름을 입력해주세요.">
        </div>
        <div>
            <input type="text" id="cellphoneNo" name="cellphoneNo" placeholder="전화번호를 입력해주세요.">
        </div>
        <div>
            <input type="text" id="email" name="email" placeholder="이메일을 입력해주세요.">
        </div>
        <div class="pl-1 pt-2 text-sm" id="emailCheckMsg" style="color : red;"></div>
        <div>
            <select id="location" name="location">
                <option value="" disabled selected>지역 선택</option>
                <option value="서울">서울</option>
                <option value="대전">대전</option>
                <option value="대구">대구</option>
                <option value="부산">부산</option>
            </select>
        </div>
        <div>
            <input type="text" id="bankAccount" name="bankAccount" placeholder="계좌번호 입력"/>
        </div>
        <div class="pl-1 pt-2 text-sm" id="bankAccountMsg" style="color : red;"></div>
        <div>
            <button id="join-submit" type="submit" value="0">회원가입</button>
        </div>
    </form>
</main>

</html>