<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>로그인</title>
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/login.js" charset="utf-8" defer></script>
    </th:block>
</head>

<main layout:fragment="main">
    <form action="./doLogin" method="POST" onsubmit="MemberLogin__submit(this); return false;">
        <div>
            <input type="text" name="loginId" placeholder="아이디를 입력해주세요.">
        </div>
        <div>
            <input type="password" name="loginPw" placeholder="비밀번호를 입력해주세요.">
        </div>
        <div>
            <input type="submit" value="로그인">
        </div>
    </form>
</main>

</html>