<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>로그인</title>
    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/login.js" charset="utf-8" defer></script>
    </th:block>
</head>

<main layout:fragment="main">
    <form onsubmit="MemberLogin__submit(this); return false;">
        <input type="hidden" name="loginPwInput">
        <th:block th:if="${param.afterLoginUri != null}">
            <input type="hidden" name="replaceUri" th:value="${param.afterLoginUri}">
        </th:block>
        <div>
            <input type="text" name="loginId" placeholder="아이디를 입력해주세요.">
        </div>
        <div>
            <input type="password" name="loginPw" placeholder="비밀번호를 입력해주세요.">
        </div>
        <div class="flex">
            <input class="self-center" type="checkbox" name="autoLogin">
            <div>자동 로그인</div>
        </div>
        <div>
            <button>로그인</button>
        </div>
    </form>
</main>

</html>