<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>비밀번호 수정</title>

    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/modifyPw.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <form action="./doModifyPw" method="POST" onsubmit="MemberModifyPw__submit(this); return false;">

        <input type="hidden" name="loginPwInput">

        <div class="p-10 card bg-base-200">
            <div class="form-control">
                <div class="card card-side bordered bg-white">
                    <div class="card-body text-sm">
                        <h2 class="card-title">비밀번호 변경</h2>

                        <label class="label">
                            <span class="label-text">
                                비밀번호
                            </span>
                        </label>
                        <input type="password" id="loginPw" name="loginPw" maxlength="16" placeholder="비밀번호를 입력해주세요." autocomplete="off" class="input input-bordered my-2">
                        <div id="loginPwCheckMsg" style="color : red;"></div>

                        <label class="label">
                            <span class="label-text">
                                비밀번호 재입력
                            </span>
                        </label>
                        <input type="password" id="loginPwConfirm" name="loginPw" maxlength="16" placeholder="비밀번호를 다시 입력해주세요." autocomplete="off" class="input input-bordered my-2">
                        <div id="loginPwConfirmCheckMsg" style="color : red;"></div>
                    </div>
                </div>
                <br>
            </div>
            <button id="modifyPw-submit" type="submit" class="btn btn-ghost">변경하기</button>
            <a href="/usr/member/info" class="btn btn-ghost">취소</a>
        </div>
    </form>
</main>

</html>