<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout/default}">

<head>
    <title>[[${@rq.loginedMember.name}]] 님의 정보 수정</title>

    <th:block layout:fragment="js">
        <script type="text/javascript" src="/resource/member/modifyInfo.js" charset="utf-8" defer></script>
    </th:block>
</head>
<main layout:fragment="main">
    <form action="./doModifyInfo" method="POST" onsubmit="MemberModifyInfo__submit(this); return false;">
        <div class="p-10 card bg-base-200">
            <div class="form-control">
                <div class="card card-side bordered bg-white">
                    <div class="card-body text-sm">
                        <h2 class="card-title">회원정보 변경</h2>

                        <label class="label">
                            <span class="label-text">
                                핸드폰 번호
                            </span>
                        </label>
                        <input type="text" id="cellphoneNo" name="cellphoneNo" th:value="${@rq.loginedMember.cellphoneNo}" maxlength="13" placeholder="핸드폰 번호를 입력해주세요." autocomplete="off" class="input input-bordered my-2"/>
                        <div id="cellphoneNoCheckMsg" style="color : red;"></div>

                        <label class="label flex flex-col">
                            <span class="label-text self-start">
                                이메일 주소
                            </span>
                            <span class="label-text font-bold self-start">
                                (아래 이메일로 분실하신 아이디와 비밀번호를 찾을 수 있습니다)
                            </span>
                        </label>
                        <input type="text" id="email" name="email" th:value="${@rq.loginedMember.email}" placeholder="이메일 입력해주세요." autocomplete="off" class="input input-bordered my-2"/>
                        <div id="emailCheckMsg" style="color : red;"></div>

                        <label class="label">
                            <span class="label-text">
                                근무지
                            </span>
                        </label>
                        <select id="location" name="location" class="select select-bordered select-sm w-full max-w-xs">
                            <option value="" disabled selected>지역 선택</option>
                            <div th:each="department : ${departments}" th:object="${department}">
                                <option th:value="*{departmentName}" th:text="*{departmentName}" th:selected="${@rq.loginedMember.location} == *{departmentName}"></option>
                            </div>
                        </select>

                        <label class="label flex flex-col">
                            <span class="label-text self-start">
                                계좌번호
                            </span>
                            <span class="label-text font-bold self-start">
                                (수익 발생 시, 아래 계좌로 입금됩니다)
                            </span>
                        </label>
                        <select id="bank" name="bank" class="select select-bordered select-sm w-full max-w-xs">
                            <option value="" disabled selected>은행 선택</option>
                            <div th:each="bank : ${banks}" th:object="${bank}">
                                <option th:value="*{bankName}" th:text="*{bankName}" th:selected="${@rq.loginedMember.bank} == *{bankName}"></option>
                            </div>
                        </select>
                        <input type="text" id="accountNum" name="accountNum" th:value="${@rq.loginedMember.accountNum}" maxlength="16" placeholder="계좌번호" autocomplete="off" class="input input-bordered my-2"/>
                        <div class="pl-1 pt-2 text-sm" id="accountNumCheckMsg" style="color : red;"></div>
                    </div>
                </div>
                <br>
            </div>
            <button id="modifyInfo-submit" type="submit" class="btn btn-ghost">변경하기</button>
            <a href="/usr/member/info" class="btn btn-ghost">취소</a>
        </div>
    </form>
</main>

</html>